/* Reset  */

* {
  box-sizing: border-box;
  }

/* Base  */

/* body > * {
display: inline;
padding: 0;
  margin: 0;
} */

body {
  min-height: 400vh;
  min-width: 1100px;
  text-align: center;
  /* display: inline-block; */
}

header {
  display: grid;
  grid-template-columns: auto 1fr 1fr 5fr;
}

header li {
  display: inline;
}

header li .in {
  background-color: rgb(133, 59, 102);
  }

header li .search {
background-color: aqua;
}

header li .nothing {
  background-color: rgb(255, 0, 140);
  }

header .icons {
  display: inline;
  justify-content: right;
  gap: 5px;
}

header li .icon1 {
background-color: rgb(136, 255, 0);
 }

header li .icon2 {
background-color: rgb(255, 0, 0);
}

header li .icon3 {
background-color: rgb(4, 0, 255);
}

header li .icon4 {
  background-color: darkkhaki;
}

header li .icon5 {
background-color: rgb(255, 230, 0);
}

header li .icon6 {
background-color: rgb(174, 0, 255);
}

header li .icon7 {
background-color: rgb(92, 101, 189);
}

header li .icon8 {
background-color: rgb(129, 52, 52);
}

header li a {
  text-decoration: none;
  color:white;
}


/* top-bar.top-bar {
  display: grid;
  grid-template-columns:  auto 1.5fr 1.5fr 5fr;
  height: 25px;
  gap: 5px;
  } 
  
  .top-bar .icons nav {
  display: grid;
  align-content: center;
  justify-content: right;
}

.top-bar .icons ul {
  list-style: none;
  display: grid;
  grid-gap: 5px;
}

.top-bar .icons li {
  display: inline;
}

.top-bar a {
  text-decoration: none;
}

/* .layout {
  display: grid;
  grid-template:
    "in search . icons" 20px
    "name message message linkedin" 40px
    "pages feed feed most-v" 1fr
    "groups ad ad add-feed" 50px /
    50px 1fr 70px;
  padding: 10px;
  gap: 10px;
} */

/* Header  */

/* .in {
  display: grid;
  background-color: aqua;
  margin-left: 25px;
}

.search {
  display: grid;
  background-color: rgb(47, 0, 255);
}
.nothing {
  display: grid;
  background-color: beige;
}

.icons {
  display: grid;
  background-color: rgb(255, 0, 0);
  list-style: none;
} */

/* Main  */

/* .name {
  grid-area: name;
  background-color: rgb(217, 255, 0);
}

.message {
  grid-area: message;
  background-color: rgb(225, 0, 255);
}

.linkedin {
  grid-area: linkedin;
  background-color: rgb(9, 255, 0);
}

.pages {
  grid-area: pages;
  background-color: rgb(255, 0, 191);
}

.feed {
  grid-area: feed;
  background-color: rgb(192, 166, 20);
}

.most-v {
  grid-area: most-v;
  background-color: rgb(60, 36, 141);
}

.groups {
  grid-area: groups;
  background-color: rgb(29, 107, 36);
}

.add-feed {
  grid-area: add-feed;
  background-color: rgb(95, 12, 16);
}

/* Footer  */

/* .ad {
  grid-area: ad;
  background-color: rgb(61, 199, 103);
}  */

/* Responsiveness  */
/* 
@media screen and (max-width: 1150px) {
  .layout {
    grid-template:
      "in search icons" 20px
      "name message linkedin" 40px
      "pages feed most-v" 1fr
      "groups ad add-feed" 50px /
      50px 1fr 70px;
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 950px) {
  .layout {
    grid-template:
      "in search" 20px
      "name message" 40px
      "pages feed" 1fr /
      50px 1fr;
    padding: 10px;
    gap: 10px;
  }
}

@media screen and (max-width: 750px) {
  .layout {
    grid-template:
      "search" 20px
      "message" 40px /
      1fr;
    padding: 10px;
    gap: 10px;
  }

